* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body{
  height:100%;
}



body {
  margin:0;
  background:#4daeba;
  font-size:1.3em;
  color:#333;
  font-family:'Lato', sans-serif;
}

section {
    float:left;
    width:100%;
    background:#fff;
    position:relative;
    box-shadow:0 0 5px 0px #333;
    margin-bottom: 30px;
}

section2 {
margin-top:200px;
  margin-top:50px;
   float:left;
   width:100%;
   background:#fff;
   position:relative;
  box-shadow:0 0 5px 0px #333;
  box-shadow: 0 5px 0px #333;
    
 }
  


.arrow-wrap {
  position:absolute;
  z-index:1;
  left:50%;
  top:-5em;
  margin-left:-5em;
  background:#969696;
  width:10em;
  height:10em;
  padding:4em 2em;
  border-radius:50%;
  font-size:0.5em;
  display:block;
  box-shadow:0px 0px 5px 0px #969696;
}

.arrow {
  float:left;
  position:relative;
  width: 0px;
height: 0px;
border-style: solid;
border-width: 3em 3em 0 3em;
border-color: #ffffff transparent transparent transparent;
  -webkit-transform:rotate(360deg)
}

.arrow:after {
  content:'';
  position:absolute;
  top:-3.2em;
  left:-3em;
  width: 0px;
height: 0px;
border-style: solid;
border-width: 3em 3em 0 3em;
border-color: #969696 transparent transparent transparent;
  -webkit-transform:rotate(360deg)
}


.hint {
  position:absolute;
  top:0.6em;
  width:100%;
  left:0;
  font-size:2em;
  font-style:italic;
  text-align:center;
  color:#fff;
  opacity:0;
}


.arrow-wrap:hover .hint {
  opacity:1;
}


  @-webkit-keyframes arrows {
    0% { top:0; }
    10% { top:12%; }
    20% { top:0; }
    30% { top:12%; }
    40% { top:-12%; }
    50% { top:12%; }
    60% { top:0; }
    70% { top:12%; }
    80% { top:-12%; }
    90% { top:12%; }
    100% { top:0; }
  }
  
  .arrow-wrap .arrow {
    -webkit-animation: arrows 2.8s 0.4s;
    -webkit-animation-delay: 3s;
  }



/*  this is the unimportant CSS used just to layout the content  */



header {
  float:left;
  width:100%;
  padding:2em 4em;
  color:#000;
  height:150px;
}

header h1 {
  margin:0;
    text-align: center;
}




.content {
  float:left;
  width:70%;
 padding-left:30px;
}

.font-effect-3d-float {
  font-family:'Lato', sans-serif;
  font-weight:50;
  font-size:60px;
    color:#636363;
}


p{
    color:black;
}

p2{
    font-size:20px;
    color:black;
    width:100%;
    padding-right: 300px;
}
    
h5{
    text-align:left;
    font-size: 30px;
    color:gray;
    
}

h2 {
  font-family:'Lato', sans-serif;
  font-weight:300;
  font-size:20px;
  color: #00d2ff; 
    text-align: left;
   
}
h3 {
  color:#555;
  font-size:0.9em;
}

h4{
    color:#555;
    text-align:center;
}
h6{
    text-align:left;
    color:gray;
    font-size: 30px
}


p a {
  color:gray;
  text-decoration:underline;
}
.col-lg-3{
    align-content: center;
}

.container marketing p{
    text-align: left;
}
/*----------*/


.mission{
    float:left;
  width:100%;
    padding-left:30px;
}

.artWind{
	width: 43%;
    height: 400px;
	position:absolute;
    display:none;
    margin: auto;
    font-size: 10px;
    padding: 10px;
    margin-top: 150px;
	right: 28%;
	border:2px solid;
	background:#FFFFFF;
	border-radius:9px;
    z-index: 10000;
    overflow: scroll;
}

.artWind a {
    color: gray;
    font-size: 12px;
}

.close{
	right:5;
	top:5;
	float:right;
}

.artWind li{
    margin-bottom: 35px;
}

.artWind span {
    color:#019875;
    font-size:18px;
}    

.artWind h3 {
    font-size: 30px;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 30px;
}

#mission h6{
    text-align: center;
    font-size: 36px;
    margin:auto;
    margin-top: 35px;
    margin-bottom: 20px;
}

#aboutUs h5{
    text-align: center;
    font-size: 36px;
    margin:auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#mission p {
    color:#00B16A;
    font-size: 20px;
    width: 65%;
    text-align: center;
    margin:auto;
    margin-bottom: 20px;
}

.content h2 {
    text-align:center;
}
.content .img-circle {
    margin-left: 25%;
}

#footer {
    text-align: right;
    margin-bottom: -30px;
    padding-right: 40px;
}
.artWind h4 {
    color: #4B77BE;
    text-align:left;
    font-size: 15px;
    margin-bottom: -12px;
    margin-top: auto;
}
#socialMedia {
    position: absolute;
    margin-left: 80%;
    margin-top: 20px;
}

#clocks {
    color: white;
    font-size: 20px;
    text-align: center;
    width: 95%;
    margin-left: 5%;
    margin-bottom: 45px;
}

#slider{
    margin-bottom: 20px;
}

.info {
    width:25%;
    height: width;
    display:inline-block;
    margin-left: 5%;
}

#squarefo {
    width:30%;
    display:inline-block;
    margin-left:5%;
}

#slider h4 {
    color: white;
    text-align: center;
    font-size: 36px;
    margin:auto;
    margin-top: 35px;
    margin-bottom: 20px;
}

#footer img {
    display: none; 
}